body {
	margin: 0px 0px 0px 0px;
	font-size: 16px;
	font-family: Oxygen;
	background-color: #25323a;
}

.menubar {
	width: 100%;
	background-color: #c0e4d8;
	height: 50px;
	min-height: 45px;
	min-width: 200px;
	float:left;
	position: fixed;
	font-size: 18px;
}

#logo {
	display: block;
	float: inherit;
	margin: 5px;
}

#barzanavigaciqta {
    list-style: none;
    display: inline;
    float: right;
    margin: 0px;
    margin-right: 20px;
}

li.navButtoni {
    float: left;
    height: 100%;
    margin: 12px;
}

a.navButtoniLinks:link {
	text-decoration: none;
    color: #25323a;
    font-weight: bold;
}

a.navButtoniLinks:hover {
	text-decoration: none;
    color: #1a7a6e;
    font-weight: bold;
}	

#razlika {
	margin: 0px;
	height: 50px;
}	

h2 {
	color: #58b09f;
	display: block;
	margin-left: 250px;
	margin-top: 50px; 
}

#getTheInfo {
	background-color: rgba(19, 79, 75, 0.8);
	color: #c0e4d8;
	margin-left: 250px;
	margin-right: 250px;
	padding-bottom: 30px;
	padding-top: 30px;

}
#stroke{
	text-shadow:
			-0.5px -0.5px 0 white,
			0.5px -0.5px 0 grey,
			-0.5px 0.5px 0 white,
			0.5px 0.5px 0 grey;
}
h3 {
	color: #58b09f;
	display: inline;
}

.redove {
	margin: 13px;
	margin-left: 70px;
	margin-right: 70px;
}

.polenca {
	float: right;
	width: 600px;
}

.formButoni {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 50px;
	color: #58b09f;
}

#specialen {
	display: block;
	margin-bottom: 2px;
	padding-top: 2px;
}

#dniBilet{
	text-align: center; 
}

.butoncheta {
	height: 40px;
	width: 120px;
	background-color: #c0e4d8;
	color: #58b09f;
	border: 2px solid;
	border-color: #58b09f;
	margin: 5px;
	font-size: 18px;
}

input.butoncheta:hover {
	cursor: pointer;
}

button.butoncheta:hover {
	cursor: pointer;
}

#genderlabel {
	margin-right: 80px;
}